@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', cursive, sans-serif;
}

section  {
  background-color: #999;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
  height: 700px;
}

.navbar {
  border-radius: 0;
}

.nav {
    margin-top: 0;
    margin-bottom: 0;
}

.nav li {
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
}

.col-xs-12  {
    padding: 10px 20px;
}
